In [1]:
import pandas as pd

df = pd.read_csv("../output/cleaned_data.csv", parse_dates=["invoice_date"])
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,sales,year,month,month_name,day_of_week
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,December,Wednesday
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,December,Wednesday
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday

In [2]:
df["description"] = df["description"].str.title()
df["description"].head()

0     White Hanging Heart T-Light Holder
1                    White Metal Lantern
2         Cream Cupid Hearts Coat Hanger
3    Knitted Union Flag Hot Water Bottle
4         Red Woolly Hottie White Heart.
Name: description, dtype: str

In [3]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,sales,year,month,month_name,day_of_week
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,December,Wednesday
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,December,Wednesday
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,December,Wednesday

In [4]:
total_revenue = df["sales"].sum()
print(total_revenue)

8887208.894000001

In [5]:
total_orders = df["invoice_no"].nunique()
print(total_orders)

18532

In [6]:
total_customers = df["customer_id"].nunique()
print(total_customers)

4338

In [7]:
df["year"] = df["invoice_date"].dt.year
df["month"] = df["invoice_date"].dt.month
df["month_name"] = df["invoice_date"].dt.month_name()
df["day_of_week"] = df["invoice_date"].dt.day_name()

In [8]:
monthly_sales = df.groupby("month_name")["sales"].sum().sort_values()
monthly_sales

month_name
February      446084.920
April         468374.331
January       568101.310
March         594081.760
July          598962.901
August        644051.040
June          660046.050
May           677355.150
September     950690.202
October      1035642.450
December     1087613.170
November     1156205.610
Name: sales, dtype: float64

In [9]:
country_sales = df.groupby("country")["sales"].sum().sort_values(ascending=False)
country_sales.head(10)

country
United Kingdom    7285024.644
Netherlands        285446.340
EIRE               265262.460
Germany            228678.400
France             208934.310
Australia          138453.810
Spain               61558.560
Switzerland         56443.950
Belgium             41196.340
Sweden              38367.830
Name: sales, dtype: float64

In [10]:
top_products = df.groupby("description")["sales"].sum().sort_values(ascending=False).head(10)
top_products

description
Paper Craft , Little Birdie           168469.60
Regency Cakestand 3 Tier              142264.75
White Hanging Heart T-Light Holder    100392.10
Jumbo Bag Red Retrospot                85040.54
Medium Ceramic Top Storage Jar         81416.73
Postage                                77803.96
Party Bunting                          68785.23
Assorted Colour Bird Ornament          56413.03
Manual                                 53419.93
Rabbit Night Light                     51251.24
Name: sales, dtype: float64

In [11]:
customer_revenue = df.groupby("customer_id")["sales"].sum().sort_values(ascending=False)
customer_revenue.head()

customer_id
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
Name: sales, dtype: float64

In [12]:
df["year"] = df["invoice_date"].dt.year
df["month"] = df["invoice_date"].dt.month
df["month_name"] = df["invoice_date"].dt.month_name()
df["day_of_week"] = df["invoice_date"].dt.day_name()

In [13]:
df.to_csv("../output/cleaned_data.csv", index=False)